// ----------------------------------------------
// Layout Style
// ----------------------------------------------

.page-wrapper {
  position: relative;
  background-color: $gray-200;
}

.body-wrapper {
  position: relative;

  .body-wrapper-inner{
    min-height: 100vh;
  }

  .container-fluid {
    max-width: $boxed-width;
    margin: 0 auto;
    padding: $grid-gutter-width;
    transition: 0.2s ease-in;
    padding-top: 0; // UBAH: dari 90px jadi 0
  }
}

@include media-breakpoint-down(md) {
  .body-wrapper {
    >.container-fluid {
      padding: 20px; // UBAH: konsisten padding
    }
  }
}

.simplebar-scrollbar:before {
  background: rgba(0, 0, 0, 0.5) !important;
}

#main-wrapper[data-layout="vertical"] {

  // Sidebar position
  &[data-sidebar-position="fixed"] {
    .left-sidebar {
      position: fixed;
      top: 0; // UBAH: dari 65px jadi 0

      @include media-breakpoint-down(lg){
        top: 0; // UBAH: dari 131px jadi 0
      }
    }
  }

  // Header position
  &[data-header-position="fixed"] {
    .app-header {
      position: fixed;
      top: 0;
      width: calc(100% - #{$sidebar-width-full}); // TAMBAH: biar header sejajar sidebar
      left: $sidebar-width-full;
      z-index: 9;
    }

    .body-wrapper {
      margin-left: $sidebar-width-full;
      
      >.container-fluid {
        padding-top: $slim-header-height; // UBAH: pakai variable slim header
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  #main-wrapper[data-layout="vertical"] {

    // Fixed Header + Minisidebar
    &[data-header-position="fixed"][data-sidebartype="mini-sidebar"] {
      .app-header {
        width: calc(100% - #{$sidebar-width-mini});
        left: $sidebar-width-mini;
      }
    }

    // Full Sidebar
    &[data-sidebartype="full"] {
      .body-wrapper {
        margin-left: $sidebar-width-full;
      }
    }
  }
}

// Responsive view (below desktop view)
@media (max-width: 1199px) {
  #main-wrapper[data-layout="vertical"] {

    &[data-sidebartype="mini-sidebar"],
    &[data-sidebartype="full"] {
      .left-sidebar {
        left: -$sidebar-width-full;
        top: 0;
        z-index: 12;
      }

      &.show-sidebar {
        .left-sidebar {
          left: 0;
          box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
        }
      }
    }

    // Fixed header di mobile
    &[data-header-position="fixed"] {
      .app-header {
        width: 100%;
        left: 0;
      }
      
      .body-wrapper {
        margin-left: 0;
        
        >.container-fluid {
          padding-top: $slim-header-height;
        }
      }
    }
  }
  
  .left-sidebar {
    .scroll-sidebar {
      padding: $sidebar-spacing-x;
      height: calc(100vh - 80px);
    }
  }
}